  h1, form {
    text-align: center;
  }
  body {
    min-width: 550px;
    width: 600px;
    margin: 0 auto;
    padding: 0 30px;
  }
  .newList, .newItem {
    position: relative;
    display: inline-block;
    width: 600px;
  }
  .newList p, .newItem p {
    margin-bottom: 5px;
  }
  #newListInput {
    width: 450px;
  }
  .lists {
    min-height: 300px;
  }
  #dispList {
    list-style: none;
    padding-left: 40px;
    margin-bottom: 6px;
  }
  ol {
    margin-top: 0;
  }
  .delete p {
    margin-bottom: 0
  }
